@font-face {
    font-family: 'Monseratt';
    src: url('/src/assets/fonts/montserratmedium-webfont.woff2') format('woff2'),
        url('/src/assets/fonts/montserratmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}