.arrow {
    width: rem(15px);
    height: rem(15px);
    color: $black;
    margin-left: rem(20px);

    &--up {
        transform: rotate(180deg);
    }

    &--scroll {
        width: rem(18px);
        height: rem(18px);
        fill: $white;
        margin: 0;
        transform: rotate(180deg)
    }
}