.btn {
    background-color: $blue;
    border: none;
    padding: rem(20px) rem(0px) rem(20px) rem(0px);
    width: 100%;
    color: $white;
    font-weight: 700;
    font-size: rem(16px);
    cursor: pointer;
    border-radius: rem(0px) rem(0px) rem(10px) rem(10px);
    transition: background-color .3s;

    &:hover {
        background-color: $black;
        transition: background-color .3s;
    }

    &--sold {
        background-color: $black;
    }

    &--white {
        background-color: transparent;
        color: $black;
        border-radius: rem(10px);
        padding: rem(24px) rem(109px);
        border: rem(1px) solid #CACACA;
        font-size: rem(14px);

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &--form {
        border-radius: rem(10px);
        flex: 2;

        @include phones {
            font-size: rem(12px);
            padding: rem(15px) rem(0px) rem(15px) rem(0px);
        }

        &:hover {
            background-color: #00b9f3;
        }
    }
}