.error {
    color: firebrick;
    margin-bottom: rem(10px);
    position: absolute;
    top: -70%;

    @include laptop {
        position: relative;
        top: initial;
    }

    @include phones {
        font-size: rem(12px);
    }
}