.scroll {
    background-color: $blue;
    width: rem(60px);
    height: rem(60px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30%;
    right: 1%;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
        background-color: #00b9f3;
        transition: background-color .3s;
    }
}